*{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
ul{
	background: #eee;
	margin-top: 50px;
}
li{
	list-style: none;
	background: #429a96;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
body{
	width: 800px;
	margin: 0 auto;
}
.background-gradients{
	height: 300px;
	/*线性渐变*/
	background-image: linear-gradient(to right,#f00,#333);/*从左到右*/
	/*径向渐变*/
}

.flex-box{
	display: flex;/*容器*/
	/*
		@ flex-direction 属性决定主轴方向 即项目成员的排列方向
		row 默认值 水平方向排列
		row-reverse 水平方向，从右到左
		column 垂直方向排列，起点在上沿
		column-reverse 垂直方向排列 起点在下沿
	*/
	flex-direction: row;

	/*
		@ flex-wrap 当容器成员在超出时，定义换行方向
		nowrap 不换行
		wrap 换行，第一行在上方
		wrap-reverse 换行，第一行在下方
	*/
	flex-wrap: nowrap;

	/*
		@flex-flow 是flex-direction和flex-wrap的简写，语法格式为 flex-flow: <flex-direction> <flex-wrap>;
		默认值： flex-low: row nowrap;
	*/
	flex-flow: row nowrap;

	/*
		@justify-content 沿主轴容器成员的对齐方式
		flex-start 左对齐（默认值）
		flex-end 右对齐
		center 居中对齐
		space-between 两端对齐 中间间距相等
		space-around 项目成员两侧间距相等
	*/
	justify-content:flex-start;

	/*
		@align-items 项目成员在交叉轴上对齐方式
		flex-start 沿交叉轴起点对齐
		flex-end 沿交叉轴终点对齐
		center 居中对齐
		baseline 沿第一个项目成员基线对齐
		stertch 默认值，若没设置高度将沾满整个容器
	*/
	align-items:stretch;

}
.flex-box li {
	width: 100px;
	/*
		** 项目属性
	*/	
}
.flex-box li:nth-child(even){/*even:偶数行 odd：奇数行 其他诸如3n+1等等*/
	background: #25885b;
}
.flex-box li:nth-child(10){
	/*
		@ order 定义项目的排列顺，数值越小排名越靠前
	*/
	order: 2;
	background: #f00;
}
.flex-box li:nth-child(9){
	order: 1;
	background: #b51010;
}

.flex-box li:nth-child(5){
	/*
		@ flex-grow 放大比例，默认值为0，空间剩余时有值的放大。
	*/
	flex-grow: 5;
}
.flex-box li:nth-child(4){
	flex-grow: 3;
}

.flex-box li:nth-child(2){
	/*
		@flex-shrink 定义项目缩放比例,默认为1,即空间不足时该项目缩小，负值无效。
	*/
	flex-shrink: 4;
}
.flex-box li:nth-child(1){
	flex-shrink: 8;
}

.flex-box li:nth-child(11){
	/*
		@flex-basis 分配多余空间,默认值auto
	*/
	flex-basis: 200px;
}

.flex-box2{
	display: flex;
}
.flex-box2 li{
	width: 300px;
}
.flex-box2 li:nth-child(odd){
	background: #2cb4e8;
}
.flex-box2 li:nth-child(11){
	/*
		@flex属性是flex-grow flex-shrink flex-basis的简写 默认值是flex:0 1 auto; 后两个值选填
		flex:none;等同于flex： 0 0 auto
		flex: auto;等同于 flex：1 1 auto
	*/
	flex: 0 0 170px;

}
.flex-box2 li:nth-child(6){
	/*
		@ align-self 允许单个项目设置不同的对齐方式
		flex-start 沿主轴起点对齐
		flex-end 沿主轴终点居中对齐
		center 居中对齐
		baselibe 与基线对齐
		stretch 拉伸与容器两端对齐
	*/
	height: 100px;
	line-height: 100px;
	align-self: stretch;
}
.flex-box2 li:nth-child(5){
	height: 130px;
	line-height: 130px;
}


.flex-box3{
	display: flex;
	flex-direction: row;
	width: 200px;
	align-self: baselibe;
}
.flex-box3 span:nth-child(1){
	display: inline-block;
	min-width: 40px;
	align-self: center;
}





